Package: com.pantsthief.ifinder
Name: iFinder
Depends: 
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome application!
Maintainer: Tanner Bennett
Author: Tanner Bennett
Section: Utilities
